@model TTMovieModel.Model.Movie
@{
    Layout = "";
}
@Scripts.Render("~/Scripts/FacebookHandler.js")
<div class="row">
    <div class="col-md-6">
        <!-- source : https://benmarshall.me/responsive-iframes/ -->

        <div class="embed-responsive embed-responsive-16by9" style="overflow:hidden;position:relative; height:0;padding-bottom:56.25%">
            <iframe class="embed-responsive-item" src="@Model.Trailers[0].Link" allowfullscreen style="width:100%; height:100%;position:absolute;top:0;left:0;"></iframe>
        </div>

    </div>

    <div class="col-md-6">

        <h2>@Model.Title.Name</h2>
        <h3>Year: @Model.Year</h3>
        
        <h4>Writer(s)</h4>
        @foreach (var wt in Model.Writers)
        {
            <h4>@wt.Name</h4>
        }

        <h4>Directors</h4>
        @foreach (var dir in Model.Directors)
        {
            <h4>@dir.Name</h4>
        }

        <h4>Stars</h4>
        @foreach (var star in Model.Stars)
        {
            <h4>@star.Name</h4>
        }

        <h5>Resume</h5>
        <p>@Model.Resume</p>

        


    </div>

</div>
</div>
