@model TamTamMovie.Models.ModelView.MovieDTO
@{
    Layout = "";
}
@Scripts.Render("~/Scripts/FacebookHandler.js")

<div class="container">
    <div class="col-md-6">
        <div class="span8">
            <div id="myCarousel" class="carousel slide">
                <ol class="carousel-indicators">
                    @for (int i = 0; i < Model.Trailers.Count; i++)
                    {
                        var activeStr = i == 0 ? "active" : "";
                        <li data-target="#myCarousel" data-slide-to="@i" class="@activeStr"></li>
                    }
                </ol>
                <div class="carousel-inner">
                    @for (int i = 0; i < Model.Trailers.Count; i++)
                    {
                        var activeStr = i == 0 ? "item active" : "item";
                        var videoSrc = Model.Trailers[i].Link + "?controls=0";
                        <div class="@activeStr">
                            <span style="display: none;">@Model.Trailers[i].Thumbnail</span>
                            <iframe width="560" height="315" src="@videoSrc" frameborder="0" allowfullscreen=""></iframe>
                        </div>
                    }
                </div>
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
            </div>
        </div>


            <div id="SocialNetworkButtons">
                <button onclick='login()'>Facebook Login</button>
            </div>
        </div>

    <div class="col-md-6">

        <h2>@Model.Title</h2>
        <h3>Year: @Model.Year</h3>
        
        <h4>Writer(s)</h4>

        @{ string writers = "";
            foreach (var wt in Model.Writers)
            {
                writers = wt + " ,";
            }
            writers += writers.Substring(0, writers.Length - 2);
            <p>@writers</p>
        }

        <h4>Directors</h4>
        @{
            string directors = "";
            foreach (var dir in Model.Directors)
            {
                directors += dir + " ,";
            }
            directors = directors.Substring(0, directors.Length - 2);
            <p>@directors</p>
         }

        <h4>Stars</h4>
        @{
            string stars = "";
            foreach (var star in Model.Stars)
            {
                stars += star + " ,";
            }
            stars = stars.Substring(0, stars.Length - 2);
            <p>@stars</p>
        }

        <h4>Resume</h4>
        <p id="movieResumeText">@Model.Resume</p>

        


    </div>

</div>
